body    {
background-image: url(paysage.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position:center;
  ;
        }

header  {
  font-family: 'Caveat', cursive;
  text-align: center; font-size: 3em;
  background-color: rgba(206,206,206,0.4);
        }
header p {
  font-family: fantasy;
font-size: 0.5em;
display: inline-block;

}





.commandes {
background-color: rgba(206,206,206,0.4);
border: 2px solid black ;
border-radius: 1.5em;
;
           }

.description { font-weight: bold ;
  margin-left: 15%;



}
